/* ------- This is the CSS Reset ------- */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4,h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small,strike, strong, sub, sup, tt,  var, u, i, center, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*vertical-align:设置元素的垂直对齐方式,baseline:（默认值）将支持valign特性的对象的内容与基线对齐*/
}
/* ------- HTML5 display-role reset for older browsers -------*/ 
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body{
	line-height: 1;
}
ol,ul{
	list-style: none;
}
blockquote,p{
	quotes: none;
	/*属性设置嵌套引用（embedded quotation）的引号类型*/
	/*			值				描述
				none			规定 "content" 属性的 "open-quote" 和 "close-quote" 的值不会产生任何引号。
	string string string string		 定义要使用的引号。前两个值规定第一级引用嵌套，后两个值规定下一级引号嵌套。
				inherit				规定应该从父元素继承 quotes 属性的值。*/
}
blockquote:before,blockquote:after,q:before,q:after{
	content: '';
	content: none;
	/*<blockquote> 与 </blockquote> 之间的所有文本都会从常规文本中分离出来，
	 * 经常会在左、右两边进行缩进，而且有时会使用斜体。也就是说，块引用拥有它们自己的空间。*/
}
table{
	border-collapse: collapse;/*表格单元边框是合并成还是以正常的htnl样式呈现*/
	border-spacing: 0;
	/*该属性指定分隔边框模型中单元格边界之间的距离。在指定的两个长度值中，第一个是水平间隔，第二个是垂直间隔。
	* 除非 border-collapse 被设置为 separate，否则将忽略这个属性。
	* 尽管这个属性只应用于表，不过它可以由表中的所有元素继承。*/
}
